.topbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.searchbar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(
    328deg,
    rgba(2, 0, 36, 0.6) 0%,
    rgba(121, 9, 118, 0.6) 35%,
    rgba(0, 212, 255, 0.6) 100%
  );
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.input-text {
  display: flex;
  justify-content: center;
  width: 70%;
}

.qr-button {
  width: 15%;
  background-color: inherit;
  border: 0;
}

.account-button {
  background-color: inherit;
  border: 0;
  width: 100%;
  height: 100%;
}

.account {
  background-color: inherit;
  height: 23px;
  border: 0;
  width: 15%;
}

.account-setting {
  height: 23px;
  width: auto;
}

.scanner-icon {
  height: 23px;
  width: auto;
  background-color: inherit;
}

.scanner-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80%;
  background-color: inherit;
}

.input-window {
  width: 50%;
}

button {
  background-color: transparent;
  border-color: transparent;
  color: white;
}
